extends layout

block stylesheet
  link(rel='stylesheet',href='/stylesheets/mapa.css')

block content
  .row#mapPage
    .col-8#mapDiv
      
    .col-4#infoDiv
      form(id='formSearch')
        .input-group.mt-3
          input(type="text" class='form-control' id='searchInput' placeholder='Buscador')
          .input-group-append
            button(class='btn btn-outline-primary' type='button' id='btnSearch') Ir
      #searchList
      #infoWindow
        h1.mt-3#tituloCircuito
        .mt-3#tableExample

      

block scripts
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCrVY1bCK3hz63R21EcuTHQ6vmzLRtFa0c")
  script(src="/javascripts/map.js")