doctype html
html
  head
  title Mapa Circuitos
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/stylesheets/dependencies/bootstrap.css">
  
  block stylesheet

  body
    block content

    block scriptsFooter
      <script src="/javascripts/dependencies/jquery.js" charset='UTF-8'></script>
      <script src="/javascripts/dependencies/popper.js"></script>
      <script src="/javascripts/dependencies/bootstrap.js"></script>
  
    block scripts