extends layout

block stylesheet
  link(rel="stylesheet", href="/stylesheets/test.css")

block content
    .row.h-100#content
      .col-8#canvasDiv
        canvas#c
      .col-4
        .container
          .row
            .col
              .d-flex.flex-row.justify-content-center.mt-3
                h1 Lista de Lugares
          .alert.alert-success#infoTramo(role='alert')
          .row.mt-3#infoTabla
            

block scripts
  script(src="/javascripts/dependencies/fabric.js")
  script(src='/javascripts/main.js')