nav.navbar.navbar-dark.bg-dark
  a.navbar-brand(href='#')
    img.img-fluid(src="/images/movistar.png" alt='Responsive image')
  form.form-inline.my-2.my-lg-0
    input#inputCR.form-control.mr-sm-2(type='search' placeholder='Busca un Circuito...' aria-label='Buscar')
    button#btnBuscar.btn.btn-outline-info.my-2.my-sm-0(type='submit') Buscar