extends layout

block stylesheet
  link(rel="stylesheet", href="/stylesheets/nodos.css")

block content
  .container
    .row
      .col-4.offset-4
        h2 Buscador de Circuitos
      .col-4.mt-2
        button(class='btn btn-secondary dropdown-toggle' type='button' id='dropdownMenu' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') Tipos de búsqueda
        .dropdown-menu(aria-labelledby='dropdownMenu' id='dropdownBtn')
          button(class='dropdown-item' type='button' id='btnVisual' value='divVisual') Visual
          button(class='dropdown-item' type='button' id='btnGeneral' value='divGeneral') General
          button(class='dropdown-item' type='button' id='btnEspecifico' value='divEspecifico') Lugares específicos

    .row.mt-4
      .col
        .container#divBusqueda
          #divVisual
            
          #divGeneral(style='display:none')
            form
              .form-group.mb-2
                label(for='inputGeneral') Búsqueda de localidades:
                .input-group
                  input(type='text' class='form-control' id='inputGeneral' aria-label='' aria-describedby='' autocomplete='off' placeholder = 'Ingresa las localidades separadas con "-"')
                  .input-group-append
                    button(type='button' class='btn btn-primary' id='buscarInput') Buscar
            
          #divEspecifico(style='display:none')
            form
              .form-group.mb-2
                .row
                  .col-5
                    label(for='select1') Inicio:
                    select(class='form-control' id='select1')
                      option(id='optionsInicio' value='default') Selecciona una localidad...
                  .col-5
                    label(for='select2') Fin:
                    select(class='form-control' id='select2')
                      option(id='optionsFin' value='default') Selecciona una localidad...
                  .col-2.mt-4
                    button(type='button' class='btn btn-primary btn-lg' id='buscarSelect') Buscar
      
      .col-12
        .mt-3#infoTabla
      
      .col-12
        #infoRuta

      

block scripts
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCrVY1bCK3hz63R21EcuTHQ6vmzLRtFa0c")
  script(src='/javascripts/nodes.js')