extends layout

block stylesheet
  link(rel="stylesheet", href="/stylesheets/test.css")
  link(rel="stylesheet", href="/stylesheets/dependencies/roboto.css")

block content
  .container-fluid.px-0
    .NavbarDiv
      include Navbar
    .ContentDiv
      #Main.bg-light-primary-color
        .container.mx-0
          .row#content
            .col-6.mt-5.pt-5#ContentDiv
              #contenido.container.shadow.border-0.px-0(style={background: 'white'})
                .jumbotron.mt-3.border-0.bg-dark-primary-color
                  h1.display-4.text-center.text-white RED DE TRANSPORTE DWDM PERU
                  hr.my-4.bg-white
                  .alert.alert-primary(role='alert')
                    p.text-center.mt-1
                      b Selecciona un tramo en el mapa para empezar
                      hr.my-4
                      p.text-center.mb-0 Puedes seleccionar los puntos en el mapa para más información
              .row
                  .col
                    #infoTramo.alert.alert-light.text-center(role='alert')
              .row
                .col
                  #infoTabla
                    table.table.table-bordered.table-hover.text-center.table-sm#tableBS
                      thead.thead-light
                        tr
                          th(scope='col') #
                          th(scope='col') cod. Circuito
                          th(scope='col') Circuito
                          th(scope='col') BW (Mbps)
                          th(scope='col') Latencia (ms)
                          th(scope='col') Ruta
                      tbody#cuerpoTabla
                  #paginationDiv
                    nav(aria-label='Navigation')
                      ul.pagination.justify-content-center#paginat
                        li.page-item
                          a.page-link#pageAnterior(href='#' aria-label='Previous')
                            span(aria-hidden='true') &laquo;
                        li.page-item
                          a.page-link#pageSiguiente(href='#' aria-label='Next')
                            span(aria-hidden='true') &raquo;
                  #infoAdicional
            .col-6#canvasDiv
              canvas#c

          
      
            

block scripts
  script(src="/javascripts/dependencies/fabric.js")
  script(src='/javascripts/test.js')